.main{
    width: 600px;
    height: 100px;
    margin: 0 auto;
}
.header{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    background-color: aqua;

}
.header-name{
    color: white;
    margin-top:20px;
}
.todos{
    width: 600px;
    margin: 20px auto;
    background-color:lightgray;
}
.head{
    width:400px;
    margin: 0 auto;
}
.count{
    color:white;
    margin-bottom: 25px;
}
.table{
    margin-top: 25px;
}
